# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model weights
*.pt
*.pth
*.onnx

# Large videos
*.mp4
*.avi
*.mov

# Zip files
*.zip

# Output files
outputs/

# Dataset
dataset/

# Temporary files
*.tmp